<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="mt-5">
  <h1 class="text-center">List Product</h1>
  <div class="rows">
    <div class="col-sm-9">
  <div class="container">
    <table class="table border">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${CART_ITEMS}">
      <form th:action="@{/shopping-cart/update}" method="post" th:object="${item}">
        <input type="hidden" name="id" th:value="${item.productId}">
        <td th:text="${item.productId}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td> <input name="quantity" th:value="${item.quantity}" onchange="this.form.submit()" style="width: 60px"></td>
        <td th:text="${item.price*item.quantity}"></td>
        <td><a th:href="@{'/shopping-cart/delete/' + ${item.productId}}" class="btn btn-primary btn-sm">Remove</a></td>
      </form>
      </tr>
      </tbody>
    </table>
    <p>Total: <span th:text="${TOTAL}"></span></p>
    <hr>
    <a href="/product/views" class="btn btn-primary btn-sm">Continue Shopping</a>
    <a href="/shopping-cart/clear" class="btn btn-primary btn-sm">Clear Cart</a>
  </div>
    </div>
  </div>
</div>
</body>
</html>